.header{
    height: 120px;
    background-color: #000;
    /* position: fixed;
    z-index: 1; */
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    line-height: 50px;
}

.header__navbar-item{
    padding: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar--item-strong{
    font-weight: 500;
}

.header__navbar-item--separate::after{
    content: "";
    position: absolute;
    display: block;
    border-left: 1px solid #ccc;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    padding: 0 4px;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

.header__navbar-icon-link:hover{
    opacity: 0.6;
}

/* header notifycation */

.header__notify{
    position: absolute;
    top: 118%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #d3d3d3;
    height: 370px;
    cursor: default;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity,transform;
    display: none;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth{
    from{
        transform: 0;
        opacity: 0;
    }to{
        opacity: 1;
        transform: 1;
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400px;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    display: flex;
}

.header__notify-item:hover{
    background-color: #ccc;
    opacity: 0.5;
}

.header__notify-item-viewed{
    background-color: rgba(34, 34, 34, 0.2);

}

.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 14px;
    color: #000;
}

.header__notify-description{
    display: block;
    font-size: 14px;
    color: #756F6E;
    margin-top: -30px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: #333;
    padding: 0px 16px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* authen modal */

.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-from__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__headding{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: red;
    font-weight: 400px;
    cursor: pointer;
}

.auth-form__form{
   
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policity-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link{
    text-decoration: none;
    color: blue;
}

.auth-form__controls{
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-from__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    color: var(--white-color);
    background-color: #3a5a98;
    margin: 0 8px;
}

/* .auth-form__socials--facebook,
.auth-form__socials-icon{
} */

.auth-form__socials-title{
    margin: 0 36px;
}

.auth-form__socials--google{
    background-color: var(--white-color);
    color: #666;
    margin: 0 8px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    height: 22px;
    margin: 1px 16px 0;
    border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot{
    color: red;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    display: none;
}

/* click login */

.modal.open{
    display: flex;
}

/* header with search */

.header-with-search{
    display: flex;
    align-items: center;
    height: 47px;
}

.header__logo{
    padding: 0 150px;
}

.header__search{
    background-color: var(--white-color);
    flex: 1;
    height: 28px;
    width: 300px;
    border-radius: 2px;
    margin-bottom: 40px;
    display: flex;
}

.header__logo-description{
    padding: 0 120px 20px 0;
    text-align: center;
}

.header__logo-icon{
    color: var(--white-color);
    font-size: 46px;
}

.logo{
    font-weight: 20px;
    margin-right: 200px;
    color: var(--white-color);
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    padding: 0 16px;
    color: var(--text-color);
    border-radius: 2px;
}

.header__search-btn{
    background-color:#dad8d8;
    border: none;
    height: 28px;
    width: 40px;
    outline: none;
}

.header__search-btn:hover{
    cursor: pointer;
    opacity: 0.5;
}

.header__search-btn-icon{
    font-size: 1.6rem;
}

.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* search history */

.header__search-history{
    left: 0;
    width: 100%;
    margin-top: 2px;
    position: absolute;
    border-radius: 4px;
    top: calc(100%+4px);
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #999;
    display: none;
    overflow: hidden;
}

.header__search-history-headding{
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #888;
    font-weight: 400;
}

.header__search-history-list{
    padding-left: 0;
    list-style:none;
    margin-bottom: 0;
}

.header__search-history-item{
    height: 34px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    line-height: 34px;
}

.header__navbar-item.header__navbar-item--has-notify {
    z-index: 1;
}

/* start content  */

.content{
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #121213;
    display: flex;
    align-items: center;
    justify-content: center;
    /* place-items: center; */
}

.content header{
    position: relative;
    background-color: #333;
    width: 85%;
    height: 95%;
    /* border: 1px solid var(--white-color); */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.content header .menu_side, .song_side{
    width: 25%;
    height: 90%;
    /* border: 1px solid var(--white-color); */
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: var(--white-color);
}

.content header .song_side{
    width: 75%;
    background-color: #0b1320;
}

.content header .master_play{
    width: 100%;
    height: 10%;
    /* border: 1px solid var(--white-color); */
    background-color: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}

.content header .menu_side h1{
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;  
}

.content header .menu_side .playlist{
    margin: 40px 0px 0px 20px; 
}

.content header .menu_side .play-list h4{  
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear ;
    margin-left: 20px;
}

.content header .menu_side .play-list h4:hover{  
    color: var(--white-color);
}

.content header .menu_side .play-list h4 span{  
    position: relative;
    margin-right: 35px;
}

.content header .menu_side .play-list h4 span::before{  
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

.content header .menu_side .play-list h4:hover span::before{  
  border: 2px solid #fff;
}

.content header .menu_side .play-list h4 .bi{
    display: none;
}  

.content header .menu_side .play-list .active{
    color: #36e2ec;
}

.content header .menu_side .play-list .active span{
    display: none;
}

.content header .menu_side .play-list .active .bi{
    display: flex;
    margin-right: 20px;
}

/* buggggg */

.content header .menu_side .menu_song{
    width: 100%;
    height: 300px;
    /* border: 1px solid #fff; */
    margin-top: 40px;
    overflow: auto;
}

.content header .menu_side .menu_song::-webkit-scrollbar{
    display: none;
}

.content header .menu_side .menu_song li{
    list-style-type: none;
    position: relative;
    padding: 5px 0 5px 20px;
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
    cursor: pointer;
    transition: .3s linear;
}

.content header .menu_side .menu_song li:hover{
    background-color: rgb(105,105,105,0.2);
}

.content header .menu_side .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}

.content header .menu_side .menu_song li img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

.content header .menu_side .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
    width: 170px;
    /* border: 1px solid #fff;  */
    overflow: hiden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content header .menu_side .menu_song li h5 .sub_title{
    font-size: 9px;
    color: #4c5262;
    margin-top: 3px;
}

.content header .menu_side .menu_song li .bi{
    position: absolute;
    right: 15px;
    font-size: 16px;
}

.content header .master_play{
    display: flex;
    align-items: center;
    padding: 0 20px ;
}

.content header .master_play .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid var(--white-color); */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

.content header .master_play .wave .wave1{
    width: 3px;
    height: 10px;
    background: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
}

.content header .master_play .wave .wave1:nth-child(2){
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}

.content header .master_play .wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: .8s;
}

/* javascrip class */

.content header .master_play .active1 .wave1{
   animation: wave .5s linear infinite;
}

.content header .master_play .active1 .wave1:nth-child(2){
    animation-delay: .4s;
}

.content header .master_play .active1 .wave1:nth-child(3){
    animation-delay: .8s;
}

@keyframes wave {
    0% {
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}

.content header .master_play img{
    width: 35px;
    height: 35px;
}

.content header .master_play h5{
    width: 130px;
    /* border: 1px solid #fff; */
    margin-left: 15px;
    color: var(--white-color);
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    /* z-index: 9999; */
}

.content header .master_play .sub_title{
    font-size: 11px;
    color: #4c5262;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content header .master_play .icon{
    font-size: 20px;
    color: var(--white-color);
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;
}

.content header .master_play .icon .bi{ 
    cursor: pointer;
    outline: none;
}

.content header .master_play .icon .shuffle{ 
    font-size: 17px;
    margin-right: 10px;
    width: 17.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.content header .master_play .icon #download_music{
    font-size: 20px;
    margin-left: 10px; 
}

.content header .master_play .icon .bi:nth-child(3){
    border: 1px solid var(--white-color);
    border-radius: 50%;
    padding: 1px 5px 0px 7px;
    margin: 0px 5px;
}

.content header .master_play span{
    color: var(--white-color);
    width: 32px;
    font-size: 11px;
    font-weight: 400px;
    /* border: 1px solid #fff; */
}

.content header .master_play #currentStart{
    margin: 0px 0px 0px 20px;
}

.content header .master_play .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105,105,170, .1);
    margin: 0px 15px 0px 10px;
}

.content header .master_play .bar .bar2{
    position: absolute;
    background: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

.content header .master_play .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}

.content header .master_play .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

.content header .master_play .bar input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 9999;
    /* transition: 3s linear; */
    opacity: 0;
}

.content header .master_play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(105, 105, 170,.1);
    margin-left: 50px;
}

.content header .master_play .vol .bi{
    position: absolute;
    color: var(--white-color);
    font-size: 25px;
    top: -11px;
    left: -30px;
}

.content header .master_play .vol input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 99999;
    opacity: 0;
}

.content header .master_play .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

.content header .master_play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}

.content header .master_play .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;   
    box-shadow: inset 0px 0px 3px #36e2ec;     
}

.content header .song_side::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px   ;
}

/* begin popular song */

.content header .song_side .popular_song{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 5px;
    /* border: 1px solid #fff; */
}

.content header .song_side .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.content header .song_side .popular_song .h4 .bi{
    color: var(--white-color);
    cursor: pointer;
    transition: .3s linear;
}

.content header .song_side .popular_song .h4 .bi:hover{
    color: var(--white-color);
}

.content header .song_side .popular_song .pop_song{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    /* border: 1px solid #fff; */
    overflow: auto;
    scroll-behavior: smooth;
}

.content header .song_side .popular_song .pop_song::-webkit-scrollbar{
    display: none;
}

.content header .song_side .popular_song .pop_song li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    transition: .3s linear;
}

.content header .song_side .popular_song .pop_song li:hover{
    background: rgb(105,105,170,.1);
}


.content header .song_side .popular_song .pop_song li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content header .song_side .popular_song .pop_song li .img_play img{
    width: 100%;
    height: 100%;
    padding-right: 5px;
}

.content header .song_side .popular_song .pop_song li .img_play .bi{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}

.content header .song_side .popular_song .pop_song li:hover .img_play .bi{
    opacity: 1;
}

.content header .song_side .popular_song .pop_song li h5{
    padding: 5px 0px 0px -5px;
    line-height: 15px;
    font-size: 9px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content header .song_side .popular_song .pop_song li h5 .sub_title{
    font-size: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4c5262;
}

.content header .song_side .popular_artists{
    width: 90%;
    height: auto;
    /* border: 1px solid #fff; */
    margin-top: 15px;
    margin: auto;

}

.content header .song_side .popular_artists .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px

}

.content header .song_side .popular_artists .h4 .bi{
    color: var(--white-color);
    cursor: pointer;
    transition: .3s linear;
}

.content header .song_side .popular_artists .h4 .bi:hover{
    color: var(--white-color);
}

.content header .song_side .popular_artists .item{
    width: 100%;
    height:auto;
    margin-top: 10px;
    display: flex;
    /* border: 1px solid #fff; */
    overflow: auto;
    scroll-behavior: smooth;
}

.content header .song_side .popular_artists .item::-webkit-scrollbar{
    display: none;
}

.content header .song_side .popular_artists .item li{
    list-style-type: none;
    position: relative;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.content header .song_side .popular_artists .item li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
}

